
---
layout: layout
---

<%
  const data = site.data.hubzilla.data;
  const tutorials = data.tutorials;
  const cheatsheets = data.cheatsheets;
  const tuts = [__('memberGuide'), __('adminGuide'), __('channel')];
  const sheets = [__('permissions')];
%>

<%- partial('_partial/heroheader') %>

<main class="contents network">

  <%- partial('_partial/header') %>

  <div class="section-wrapper">

    <%- partial('_partial/generalinfo') %>

    <section class="column">
      <div class="section u-block">
        <h4><%- __('tuts') %></h4>
        <ul class="section-list">
          <% for (item in tutorials) { %>
            <% let n = tutorials[item].id %>
            <li class="u-inline">
              <a href="<%= tutorials[item].url %>"><%= tuts[n] %></a><span>&nbsp;/&nbsp;</span>
            </li>
          <% } %>
        </ul>
      </div>
      <div class="section u-block">
        <h4><%- __('cheatsheets') %></h4>
        <ul class="section-list">
          <% for (item in cheatsheets) { %>
            <% let n = cheatsheets[item].id %>
            <li class="u-inline">
              <a href="<%= cheatsheets[item].url %>"><%= sheets[n] %></a><span>&nbsp;/&nbsp;</span>
            </li>
          <% } %>
        </ul>
      </div>
    </section>
  </div>

  <%- partial('_partial/world') %>
  <br>
  <%- partial('_partial/contributing') %>

  <%- partial('_partial/buttons') %>
</main>
