
<%
  let contType = '';
  let ball = false;
  if (is_root()) {
    contType = 'main__container';
  }
  if (page.layout == 'crystalball') {
    ball = true;
  }
%>

<!DOCTYPE html>
<html lang="en">

<%- partial('_partial/head') %>
<body>
  <main class="container-wrapper">
    <!--[if lt IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade</a>.</p>
    <![endif]-->
    <noscript><small class="no-js">You disabled Javascript. Please, enable it for better experience.</small></noscript>
    <%- partial('_partial/navbar', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/sidebar') %>
    <div class="container <%= contType %>"><%- body %></div>
    <h1><%=page.title%></h1>
  </main>
  <!-- temporary https redirect hack -->
  <script>
    const host = "fediverse.party";
    if ((host == window.location.host || "www." + host == window.location.host ) && (window.location.protocol != "https:")) {
      window.location.protocol = "https";
    }
  </script>

  <script src="/js/main.min.js"></script>
  <% if (is_root()) { %>  <script src="/js/index.min.js"></script> <% } %>
  <% if (ball) { %> <script src="/js/ball.min.js"></script> <% } %>
</body>
</html>
