
$white: #ffffff;
$golden: #daba76;
$coral: #e93a32;


$black: #0e0a0c;
$grey: #b9b9b9;

$diaspora: #000000;
$mastodon: #3088d4;
$hubzilla: #43488a;
$gnusocial: #a22430;
$friendica: #ffb900;
$socialhome: #2fcbbe;
$postactiv: #ad68d5;
$ganggo: #69d7e2;
$pleroma: #fba457;
$aardwolf: #46332d;
$peertube: #f1680d;
$misskey: #db3f86;
